<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="index.html"
    >Project name</a
  >
  <input
    class="form-control form-control-dark w-100"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
  <ul class="navbar-nav px-3 flex-row">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item text-nowrap ml-4">
      <a class="nav-link" href="index.html">Sign in</a>
    </li>
  </ul>
</nav>
